<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Eventos</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/> 
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
        <div th:each="evento : ${detalhesEvento}"> 
            <div class="row">
                <div class="container">
                    <h1>Lista de Evento</h1>
                    <h3><a href="/eventos" class="waves-effect waves-light btn">Lista de Evento</a></h3>
                    <p>Código: <span th:text="${evento.codigo}"></span></p>
                    <p>Nome: <span th:text="${evento.name}"></span></p>
                    <p>Local: <span th:text="${evento.local}"></span></p>
                    <p>Data: <span th:text="${evento.data}"></span></p>
                    <p>Horario: <span th:text="${evento.horario}"></span></p>
                    <br/>
                    <th:block th:include="mensagemValidacao"></th:block>
                    <br/>
                </div>



                <div class ="container">
                    <form method="post">
                        Nome: <input type="text" value="" name="name" placeholder="Nome completo"/>
                        RG: <input type="text" value="" name="rg" placeholder="11.111.111-1"/>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Adicionar
                            <i class="material-icons right">add</i>
                    </form>
                </div>
                <div class="container">
                    <table>
                        <thead>
                        <th>Nome</th>
                        <th>RG</th>
                        </thead>
                        <tbody th:each="convidados : ${listaConvidados}">
                            <tr>
                                <td><p><span th:text="${convidados.name}"></span></p></td>
                                <td><p><span th:text="${convidados.rg}"></span></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

    </body>
</html>
